<div class="row">
<div class="col-md-2">
    <nav id="navPills" class="nav nav-pills nav-stacked">
        <li><a href="#Assign" prevent-default="" scroll-to="Assign">Assign</a></li>
        <li><a href="#Close" prevent-default="" scroll-to="Close">Close</a></li>
        <li><a href="#Commit" prevent-default="" scroll-to="Commit">Commit</a></li>
        <li><a href="#Connection" prevent-default="" scroll-to="Connection">Connection</a></li>
        <li><a href="#Exit" prevent-default="" scroll-to="Exit">Exit</a></li>
        <li><a href="#If" prevent-default="" scroll-to="If">If</a></li>
        <li><a href="#Include" prevent-default="" scroll-to="Include">Include</a></li>
        <li><a href="#ObjectFactory" prevent-default="" scroll-to="ObjectFactory">ObjectFactory</a></li>
        <li><a href="#Properties" prevent-default="" scroll-to="Properties">Properties</a></li>
        <li><a href="#Query" prevent-default="" scroll-to="Query">Query</a></li>
        <li><a href="#Rollback" prevent-default="" scroll-to="Rollback">Rollback</a></li>
        <li><a href="#Script" prevent-default="" scroll-to="Script">Script</a></li>
        <li><a href="#Sql" prevent-default="" scroll-to="Sql">Sql</a></li>
        <li><a href="#Sql-Rodeo" prevent-default="" scroll-to="Sql-Rodeo">Sql-rodeo</a></li>
    </nav>
</div>

<div class="col-md-10">

<section id="xmlElements">
<!--<div>-->
<!--<h1>Elements</h1>-->
<!--</div>-->

<!-- ******************************* -->
<article id="Assign">
    <h1>&lt;assign&gt;</h1>

    <p>The assign element assigns a value to a variable.</p>

    <h2>Examples</h2>
<pre><code>&lt;!-- Assign Strings --&gt;
&lt;assign id="lead" value="Luke"/&gt;
&lt;assign id="princess" value="Leia"/&gt;

&lt;!-- Set "heroes" to contain "Luke, Leia, and Han" via substitution --&gt;
&lt;assign id="heroes" value="${hero}, ${princess}, and Han"/&gt;

&lt;!-- Perform math via JEXL and variable substitution --&gt;
&lt;assign id="domesticBoxOffice" value="460998007"/&gt;
&lt;assign id="worldBoxOffice" value="797900000"/&gt;
&lt;assign id="boxOfficeTotal" value="${domesticBoxOffice} + ${worldBoxOffice}"/&gt;

&lt;!-- Instantiate instance of the 'ex.Person' class, with JEXL's 'new' command to invoke a two-argument --&gt;
&lt;!-- constructor. In Java, this would translate to "person = new ex.Person( 'Darth', 'Vader' );" --&gt;
&lt;assign id="person" value="new( ex.Person, 'Darth', 'Vader' )"/&gt;</code></pre>

    <h2>&lt;assign&gt; Attribute Reference</h2>

    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Presence</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>id</td>
                <td>Required</td>
                <td>ID (aka name) of the variable to assign.</td>
            </tr>
            <tr>
                <td>value</td>
                <td>Required</td>
                <td>Value to assign to the variable.</td>
            </tr>
            <tr>
                <td>if</td>
                <td>Optional</td>
                <td>JEXL expression that prevents assignment if it evaluates to false. Otherwise, the assignment
                    proceeds as normal.
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <ol class="breadcrumb">
        <li><a prevent-default="" scroll-to="header">Back to Top</a></li>
    </ol>
</article>

<!-- ******************************* -->
<article id="Close" >
    <h1>&lt;close&gt;</h1>

    <p>The close element closes the specified database connection.</p>

    <h2>Examples</h2>
<pre><code>&lt;!-- Open a database connection from the DataSource --&gt;
&lt;connection id="myConn" datasource-id="MyDataSource" autoclose="false"/&gt;

... SQL actions not shown ...

&lt;!-- Close the connection--&gt;
&lt;close id="myConn"/&gt;</code></pre>

    <h2>&lt;close&gt; Attribute Reference</h2>
    No attributes / Not applicable.
    <ol class="breadcrumb">
        <li><a prevent-default="" scroll-to="header">Back to Top</a></li>
    </ol>
</article>

<!-- ******************************* -->
<article id="Commit" >
    <h1>&lt;commit&gt;</h1>

    <p>The commit element commits the current transaction on the specified connection object. An ExecutionException is
        thrown if the connection cannot be found under the given ID.</p>

    <h2>Examples</h2>
<pre><code>&lt;!-- Open a database connection from the DataSource --&gt;
&lt;connection id="myConn" datasource-id="MyDatasource" autocommit="false"/&gt;

... SQL actions not shown ...

&lt;!-- Commit the transaction --&gt;
&lt;commit id="myConn"/&gt;</code></pre>

    <h2>&lt;commit&gt; Attribute Reference</h2>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Presence</th>
                <td>Description</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>id</td>
                <td>Required</td>
                <td>ID of the database connection on which to commit the current transaction.</td>
            </tr>
            </tbody>
        </table>
    </div>
    <ol class="breadcrumb">
        <li><a prevent-default="" scroll-to="header">Back to Top</a></li>
    </ol>
</article>

<!-- ******************************* -->
<article id="Connection">
    <h1>&lt;connection&gt;</h1>

    <p>Open a database connection from the DataSource based on a standard Java DataSource.</p>

    <h2>Examples</h2>
<pre><code>&lt;!-- Open a database connection from the DataSource --&gt;
&lt;connection id="myConn" datasource-id="MyDatasource" autocommit="false"/&gt;

&lt;!-- Create another --&gt;
&lt;connection id="connection2" datasource-id="OtherDatasource" autocommit="true"/&gt;</code></pre>

    <h2>&lt;connection&gt; Attribute Reference</h2>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Presence</th>
                <td>Description</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>id</td>
                <td>Required</td>
                <td>ID of the database connection to create.</td>
            </tr>
            <tr>
                <td>datasource-id</td>
                <td>Required</td>
                <td>ID of the DataSource from which to retrieve the connection.</td>
            </tr>
            <tr>
                <td>autocommit</td>
                <td>Optional</td>
                <td>Boolean indicating if the connection should be set to autocommit. Valid values are "true" and
                    "false". Default value is defined by the DataSource.
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <ol class="breadcrumb">
        <li><a prevent-default="" scroll-to="header">Back to Top</a></li>
    </ol>
</article>

<!-- ******************************* -->
<article id="Exit">
    <h1>&lt;exit&gt;</h1>

    <p>Immediately halt processing of XML files.</p>

    <h2>Examples</h2>
    <pre><code>&lt;exit/&gt;</code></pre>

    <h2>&lt;exit&gt; Attribute Reference</h2>
    Not applicable / No attributes. <aside class="label label-warning">Maybe it should support the 'if' attribute?</aside>
    <ol class="breadcrumb">
        <li><a prevent-default="" scroll-to="header">Back to Top</a></li>
    </ol>
</article>

<!-- ******************************* -->
<article id="If">
    <h1>&lt;if&gt;</h1>

    <p>Execute the enclosed block of code if the given condition is true.</p>

    <p>The &lt;if&gt; action can contain any of the following elements:
    <ul>
        <li>assign</li>
        <li>close</li>
        <li>commit</li>
        <li>connection</li>
        <li>exit</li>
        <li>if</li>
        <li>include</li>
        <li>objectFactory</li>
        <li>properties</li>
        <li>query</li>
        <li>rollback</li>
        <li>sql</li>
        <li>script</li>
    </ul>
    </p>

    <h2>Examples</h2>
<pre><code>&lt;!-- Default commission rate to 10% --&gt;
&lt;assign id="commissionRate" value="0.10"/&gt;

&lt;!-- Sales over 2000 doubles the salesperson's commission rate --&gt;
&lt;if condition="salesTotal > 2000"&gt;
    &lt;assign id="commissionRate" value="${commissionRate} * 2.0"/&gt;

    &lt;!-- 'if' actions can be nested. Let's use it to double the commission rate again. --!&gt;
    &lt;if condition="salesTotal > 3000 and surveysReturned > 2"&gt;
        &lt;assign id="commissionRate" value="${commissionRate} * 2.0"/&gt;
    &lt;/if &gt;
&lt;/if &gt;

&lt;!-- Calculate commission --&gt;
&lt;assign id="commission" value="${salesTotal} & ${commissionRate}"/&gt;</code></pre>

    <h2>&lt;if&gt; Attribute Reference</h2>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Presence</th>
                <td>Description</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>condition</td>
                <td>Required</td>
                <td>Condition to evaluate. There is no need for the ${..} wrappers around variables, since the entire
                    condition is passed to JEXL for evaluation.
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <ol class="breadcrumb">
        <li><a prevent-default="" scroll-to="header">Back to Top</a></li>
    </ol>
</article>

<!-- ******************************* -->
<article id="Include">
    <h1>&lt;include&gt;</h1>

    <p>Purpose goes here. Some short text.</p>

    <h2>Examples</h2>

    <h2>Attribute Reference</h2>
    <ol class="breadcrumb">
        <li><a prevent-default="" scroll-to="header">Back to Top</a></li>
    </ol>
</article>

<!-- ******************************* -->
<article id="ObjectFactory">
    <h1>&lt;objectFactory&gt;</h1>

    <p>Purpose goes here. Some short text.</p>

    <h2>Examples</h2>

    <h2>Attribute Reference</h2>
    <ol class="breadcrumb">
        <li><a prevent-default="" scroll-to="header">Back to Top</a></li>
    </ol>
</article>

<!-- ******************************* -->
<article id="Properties">
    <h1>&lt;properties&gt;</h1>

    <p>Purpose goes here. Some short text.</p>

    <h2>Examples</h2>

    <h2>Attribute Reference</h2>
    <ol class="breadcrumb">
        <li><a prevent-default="" scroll-to="header">Back to Top</a></li>
    </ol>
</article>

<!-- ******************************* -->
<article id="Query">
    <h1>&lt;query&gt;</h1>

    <p>Purpose goes here. Some short text.</p>

    <h2>Examples</h2>

    <h2>Attribute Reference</h2>
    <ol class="breadcrumb">
        <li><a prevent-default="" scroll-to="header">Back to Top</a></li>
    </ol>
</article>

<!-- ******************************* -->
<article id="Rollback">
    <h1>&lt;rollback&gt;</h1>

    <p>Purpose goes here. Some short text.</p>

    <h2>Examples</h2>

    <h2>Attribute Reference</h2>
    <ol class="breadcrumb">
        <li><a prevent-default="" scroll-to="header">Back to Top</a></li>
    </ol>
</article>

<!-- ******************************* -->
<article id="Script">
    <h1>&lt;script&gt;</h1>

    <p>Purpose goes here. Some short text.</p>

    <h2>Examples</h2>

    <h2>Attribute Reference</h2>
    <ol class="breadcrumb">
        <li><a prevent-default="" scroll-to="header">Back to Top</a></li>
    </ol>
</article>

<!-- ******************************* -->
<article id="Sql">
    <h1>&lt;sql&gt;</h1>

    <p>Purpose goes here. Some short text.</p>

    <h2>Examples</h2>

    <h2>Attribute Reference</h2>
    <ol class="breadcrumb">
        <li><a prevent-default="" scroll-to="header">Back to Top</a></li>
    </ol>
</article>

<!-- ******************************* -->
<article id="Sql-Rodeo">
    <h1>&lt;sql-rodeo&gt;</h1>

    <p>Purpose goes here. Some short text.</p>

    <h2>Examples</h2>

    <h2>Attribute Reference</h2>
    <ol class="breadcrumb">
        <li><a prevent-default="" scroll-to="header">Back to Top</a></li>
    </ol>
</article>
</section>

</div>
</div>